{% extends "base.html" %}
{% load comments %}
{% load markup %}

{% block styles %}
<style>
.modal{
    display: none;
}
.input-xlarge{
    width: 100%;
}
</style>
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function(){
    $('#edit_task').modal({
        show: false,
        keyboard: true
    }); 

    $('#complete').tooltip({placement: 'bottom'});
    $('#edit-icon').tooltip({placement: 'bottom'});
    $('#complete').click(function(){
        var task_id = $(this).data('id');
        $.post('/tasks/' + task_id, {'completed': true})
        .success(function(){
            window.location = "/tasks";
        });
    });
    $('#edit-icon').click(function(){
        $('#edit_task').modal('show');
    });

    $('#btn_edit_task').click(function(){
        var task = $('#title').val();
        var notes = $('#notes').val();
        if (task){
            $.post('/tasks/{{ task.id }}', {'task': task, 'notes': notes})
        .success(function(){
            $('#edit_task').modal('hide');
            location.reload();
        });
        }
    });
});
</script>
{% endblock %}


{% block navigation %}
<li><a href="/tasks" class="entypo">(</a></li>
<li><a href="#" class="entypo" rel="tooltip" id="complete" data-id="{{ task.id }}" title="Complete the task.">W</a></li>
<li><a href="#" class="entypo" rel="tooltip" id="edit-icon" data-id="{{ task.id }}" title="Edit task.">&</a></li>
{% endblock %}

{% block content %}
<h2><a href="/tasks/{{ task.id }}">{{ task.title }}</a></h2>
<div class="task">
    <div class="notes">
        {% if task.notes %}
        {{ task.notes|markdown }}
        {% endif %}
    </div>
    <div class="bubble">
        {% if task.due_date %}
        <div class="inline"><a class="bubble date" href="/tasks/date/{{ task.due_date|date:"Y" }}/{{ task.due_date|date:"n" }}/{{ task.due_date|date:"j" }}">{{ task.due_date|date:"M d" }}</a></div>
        {% endif %}
        <div class="inline">
            {% for user in task.assigned_users.all %}
                <a class="bubble username" href="/tasks/user/{{ user.id }}">{{ user.username|lower }}</a>
            {% endfor %}
        </div>
        <div class="inline">
            {% for tag in task.tag.all %}
                <a class="bubble tag" href="/tasks/tag/{{ tag.id }}">{{ tag.name|lower }}</a>
            {% endfor %}
        </div>
        {% if task.task_list %}
        <div class="inline"><a class="bubble list" href="/tasks/list/{{ task.task_list.id }}">{{ task.task_list.name|lower }}</a></div>
        {% endif %}
    </div>
</div>

{% get_comment_list for task as comment_list %}
{% for comment in comment_list %}
<div class="comment">
<p>{{ comment.comment|markdown }}</p>
<p class="meta"><a href="/tasks/user/{{ comment.user.id }}">{{ comment.user }}</a> | {{ comment.submit_date|date:"d/m/y" }}</p>
</div>
{% endfor %}

{% render_comment_form for task %}

<div class="modal" id="edit_task">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Edit Task</h3>
  </div>
  <div class="modal-body">
      <input type="text" id="title" class="input-xlarge" placeholder="Add a task. Use # for tags, @ for users and $ for lists and dd/mm/yy for date" 
      value="{{ task.title }} {{ task.due_date|date:"d/m/y" }}{% for tag in task.tag.all %} #{{ tag.name }}{% endfor %}{% for user in task.assigned_users.all %} @{{ user.username }}{% endfor %}{% if task.task_list %} ${{ task.task_list.name }}{% endif %} "
      />
      <textarea id="notes" class="input-xlarge" placeholder="Add notes. You can use markdown to display your notes :)">{% if task.notes %}{{ task.notes }}{% endif %}</textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" id="btn_edit_task">Edit Task</a>
  </div>
</div>
{% endblock %}
